<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>179011365893-cpies807uk5t96h7gq3pp30dm3bdoif3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179011365893-cpies807uk5t96h7gq3pp30dm3bdoif3</string>
	<key>API_KEY</key>
	<string>AIzaSyD9xayPtc_fWciKHkokHvHCyaPXxu0G5ww</string>
	<key>GCM_SENDER_ID</key>
	<string>179011365893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>toiavalle.Crazy-Traffic</string>
	<key>PROJECT_ID</key>
	<string>crazy-traffic-saga</string>
	<key>STORAGE_BUCKET</key>
	<string>crazy-traffic-saga.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:179011365893:ios:137e3fd124e7812f</string>
	<key>DATABASE_URL</key>
	<string>https://crazy-traffic-saga.firebaseio.com</string>
</dict>
</plist>